:root{

    //COLORS
    --main-color: #1d1d1d;
    --main-color-lighter: #222222;
    --secondary-color: #fafafa;
    --tertiary-color: #0053e1;
    --tertiary-color-lighter: #0078e1;

    //FONT SIZE
    --default-font-size: 1.6rem;
}