@use '../abstracts/index' as *;

.about {
    height: 100vh;
    background-image: url('../../assets/images/savio.jpg');
    box-shadow: inset 0 0 0 100rem rgba(0,0,0,.4);
    background-size: cover;
    background-position: top;
    text-align: center;
    @include flex-column-center;
}

.projects {
    background-color: var(--main-color);
    @include flex-column-center;

        &__container{
            width: 40%;
            height: 30rem;
            @include flex-column-center;
            border-radius: .5rem;

            &--1{
                background-image: url('../../assets/images/os-melhores-anos.jpeg');
                @include bg-image-setup;
            }
            &--2{
                background-image: url('../../assets/images/que-tal.jpeg');
                @include bg-image-setup;
            }
            &--3{
                background-image: url('../../assets/images/baixa-chiado.jpeg');
                @include bg-image-setup; 
            }
        }
}

.career{
    background-image: url('../../assets/images/laptop.jpeg');
    @include bg-image-setup;
    @include flex-column-center;
    text-align: center;

    &__container{
        width: 60%;
        height: 10rem;
        position: relative;
        border-top: 1px solid var(--secondary-color);
    }
}

.footer {
    background-color: var(--main-color);
    padding: 0 10rem;
    height: 50vh;

    &__container {
        height: 100%;
        position: relative;
    }
}

.hello {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--secondary-color);
    padding: 2rem;
}

.legal {
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.contact{
    position: absolute;
    right: 0;
    bottom: 3rem;
    text-align: right;
}