@use '../abstracts';

.header {
    height: 100vh;
    background-color: var(--main-color);
}

.header__section{
    height: 100%;
    position: relative;
    padding: 0 10rem;
}

.logo__link{
    color: var(--secondary-color);
}

.nav{
    width: 100%;
    padding: 2rem 10rem;
    position: fixed;
    background-color: var(--main-color);
    z-index: 1000;

    &__section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    &__list{
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

    &__item{
    
        &:not(:last-child){
            margin-right: 1rem;
        }
    }

    &__link, &__btn{
        text-decoration: none;
        color: var(--secondary-color);
        background-color: var(--main-color-lighter);
        display: block;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        position: relative;
        transition: all .5s ease;
        cursor: pointer;

        &:hover{
            transform: scale(1.2);
            background-color: var(--secondary-color);
            color: var(--main-color-lighter);
        }
    }
    &__icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

